<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bitgray-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0168BEAA1C2E61EC00E45EC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0168BEC31C2E61ED00E45EC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0168BECE1C2E61ED00E45EC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
